/* the styles for the elements */
* {
    padding: 0;
    margin: 0;
}

html {
    width: 100%;
    max-width: 1920px;
    height: 100%;
    background: #422b25 url("../images/background_image.png") repeat;
}

body {
    padding: 5% 20%;
}

/* the styles for the navigation menu */
.nav_menu ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    background-color: #281200;
    border: 0.4em solid #D3793A;
    border-radius: 1em;
}

.nav_menu li {
    padding: 0.781%; /* 15 / 1920 * 100 */
    text-align: center;
}

.nav_menu a {
    text-decoration: none;
    color: #AD3C1E;
}

.nav_menu a:active {
    color: #F5B142;
}

/* the styles for the header */
header img {
    position: absolute;
    z-index: 1;
    top: 5.125%; /* 60 / 1920 * 100 */ /* The logo was increased by +2%. */
    left: 45.573%; /* 875 / 1920 * 100 */
    max-width: 152px;
    width: 100%;
}

header ul {
    font-family: Tahoma, Verdana, sans-serif;
    font-weight: bold;
    font-size: 120%; /* 20 / 1920 * 100 */
}

/* the styles for the main content */
.firstbox {
    column-count: 2;
    background-color: #281200;
    color: white;
    border: 0.4em solid #d3793a;
    border-radius: 1em;
    margin-top: 2.5em;
}

#rightimg1, #rightimg2, #rightimg3, #rightimg4 {
    max-width: 660px;
    width: 100%;
    float: right;
    border-left: 0.4em solid #d3793a;
}

main h1 {
    font-family: "Great Vibes", cursive;
    font-size: 260%;
    text-align: left;
    padding-left: 1em;
}

main h2, main h3, main h4, main h6{
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 180%;
    text-transform: uppercase;
    padding-left: 1em;
    padding-bottom: 0.4em;
    color: #d3793a;
}

main p, main h5, main ul {
    font-family: Verdana, "Lucida Grande", sans-serif;
    font-size: 130%;
    line-height: 1.5;
    padding-left: 1em;
    padding-bottom: 0.2em;
    font-weight: 100;
    text-align: left;
    color: #f5b142;
}

main ul {
    list-style-type: none;
}

#price1, #price2, #price3, #price4 {
    padding-bottom: 2em;
    color: #ad3c1e;
}

#price5 {
    color: #ad3c1e;
}

/* the styles for the forms */
.secondbox {
    column-count: 2;
    background-color: #281200;
    border: 0.4em solid #d3793a;
    border-radius: 1em;
    margin-top: 2.5em;
}

#h1, #h2 {
    font-weight: bold;
    text-transform: uppercase;
    color: #d3793a;
    padding-left: 2em;
    text-align: left;
    padding-top: 1em;
    margin-bottom: 1em;
}

#email2 {
    padding-left: 4em;
    text-align: left;
}

#email1 {
    text-align: left;
}

#submit, #submit2 {
    background-color: #422b25;
    color: #f5b145;
    padding: 0.2em;
    font-weight: bold;
    margin-top: 0.6em;
    margin-left: 3em;
}

#title {
    width: 75%;
    margin-left: 4.5em;
    font-family: Tahoma, Verdana, sans-serif;
    font-weight: 600;
}

#submit2 {
    font-size: 150%;
    font-family: Tahoma, Verdana, sans-serif;
}

#border {
    border-right: 0.4em solid #d3793a;
    padding-right: 0.4em;
}

#submit {
    margin-bottom: 1em;
}

/* the styles for the 2nd nav menu */
.nav_menu2 ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    background-color: #281200;
    border: 0.4em solid #D3793A;
    border-radius: 1em;
    margin-top: 2.5em;
}

.nav_menu2 li {
    padding: 0.781%; /* 15 / 1920 * 100 */
    text-align: center;
}

.nav_menu2 a {
    text-decoration: none;
    color: #AD3C1E;
}

.nav_menu2 a:active {
    color: #F5B142;
}

main ul {
    font-family: Tahoma, Verdana, sans-serif;
    font-weight: bold;
    font-size: 120%; /* 20 / 1920 * 100 */
}

.logoimg {
    position: absolute;
    z-index: 1;
    top: 183%;
    left: 45.573%;
    max-width: 152px;
    width: 100%;
}