body {
  display: grid;
  grid-template-columns: 15% 50% 10% 25%;
  grid-template-rows: 6vw 20vw 15vw 15vw 6vw;
  max-width: 100%;
  background-image: url(/img/background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

/*header and navigation styles*/
header {
    grid-row: 1/2; grid-column: 1/2;
    background: #1BA9CC;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.5em;
    border: none;
}
#headimg {
    height: 4.3vw;
}

nav {
    grid-row: 1/2; grid-column: 2/5;
    background: #1BA9CC;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2em;
    font-family: "lato", sans-serif;
    font-weight: bolder;
    font-size: 1.5vw;
    padding-top: 1em;
}
.nav {
    color: #412115;
}
nav a {
    text-decoration: none;
    padding: 0.8em;
}

nav a:hover {
    color: #F1C619;
}

/* section style */
section {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 1em 3em;
}
h1 {
    font-family: "lato";
    font-size: 3vw;
    text-align: center;
    padding-top: 1em;
    color: #F1C619;
}
h3 {
    font-family: "lato";
    font-size: 2vw;
    margin-bottom: 0;
    text-align: center;
    color: #F1C619;
}
p {
    font-family: "lato";
    font-size: 1.7vw;
    text-align: center;
    margin-top: 1em;
    line-height: 1.5;
    color: #F1C619;
}
#s1 {
    grid-row: 2/3; grid-column: 1/5;
}
#s2 {
    grid-row: 3/5; grid-column: 1/5;
}
#s2 iframe{
    width: 100%;
    height: 100%;
}

/* footer style */
#foot {
    grid-row: 5/6; grid-column: 1/5;  
    display: block;
    padding: 0.5em;
    background: #F1C619;
}
#foot-container {
    height: 100%;
    float: right;
    padding-right: 2em;
}
#foot-container img {
    height: 70%;
}